<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OrderProcessingQueueDelayMilliseconds" value="1000"/>
    <add key="OrderProcessingQueueName" value="order-processing-queue"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
